*
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
} 

body
{
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

nav
{
    background-color: #ffffff00;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
    padding-left: 4%;
    padding-right: 4%;
    position: relative;
    align-items: center;
    z-index: 3;
}

nav a
{
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin: auto;
    color: white;
    text-decoration: none;
}

nav a:hover
{
    color: white;
}

nav button
{
    -webkit-border-radius: 5px;
    border-radius: 30px;
    width: 180px;
    height: 65px;
}

nav button:hover
{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.705);
    color: white;
}

.mainContainer
{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: 3;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 5%;
}

.main
{
    color:white;
    font-size: 100px;
}

.poster
{
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 3;
}

button
{
    -webkit-border-radius: 5px;
    border-radius: 30px;
    width: 180px;
    height: 65px;
}

h1
{
    font-size: 70px;
}

p
{
    padding-top: 2%;
    padding-bottom: 2%;
    color: #a8acac;
    font-size: 25px;
}

.login
{
    background-color: #000;
    color: white;
    border:1px solid rgb(255, 255, 255);
}

.getstart
{
    background:#2581aa;
    color: white;
    margin-right: 10px; 
}
button:hover.getstart
{
    background-color: white;
    color : black;
}

/*Background */
.clouds{
    background:transparent url(https://i.imgur.com/oJ38omT.png) repeat top center;
    z-index:2;
    opacity: .4;
    animation:move-clouds-back 200s linear infinite;
}
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
.stars, .twinkling{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}
.stars {
    background:#000 url(https://i.imgur.com/KcMzYVG.png) repeat top center;
    z-index:0;
}
.twinkling{
    background:transparent url(https://i.imgur.com/YNko34k.png) repeat top center;
    z-index:1;
    animation:move-twink-back 200s linear infinite;
}
/******************/